<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【最世界】cityWalk</title>
    <link rel="stylesheet" href="../stylesheets/cityWalk.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div id="body">
        <div id="header">
            <div class="head">
                <div class="top">
                    <img src="../images/logo1.jpg" alt="">
                    <input type="text" placeholder="搜索国家、城市、产品">
                    <p>我的订单</p>
                    <img src="../images/sx1.jpg" alt="">
                    <p>我的收藏</p>
                </div>
                <div class="bottom">
                    <p id="hotArea">热门目的地 <img src="../images/arrow2.jpg" alt=""></p>
                    <ul>
                        <li><a href="/">首页</a></li>
                        <li>机酒自由行</li>
                        <li>城市玩乐</li>
                        <li>签证</li>
                        <li>租车</li>
                        <li>邮轮</li>
                        <li>海岛游</li>
                        <li>限时特卖</li>
                        <li>特色路线</li>
                        <li>cityWalk</li>
                    </ul>
                    <p id="redTag">一日游</p>
                    <span></span>
                </div>
            </div>
        </div>
        <div id="banner">
            <img src="../images/vrv_02.gif" alt="">
        </div>
        <div id="main">
            <div id="nav">
                <div class="area">
                    <p>所在城市</p>
                    <p class="city"><a href="#">全部</a></p>
                    <p class="city"><a href="#">上海</a></p>
                    <p class="city"><a href="#">北京</a></p>
                    <p class="city"><a href="#">京都</a></p>
                    <p class="city"><a href="#">广州</a></p>
                    <p class="city"><a href="#">东京</a></p>
                    <p class="city"><a href="#">布拉格</a></p>
                    <p class="city"><a href="#">巴塞罗那</a></p>
                    <p class="city"><a href="#">纽约</a></p>
                    <p class="city"><a href="#">巴黎</a></p>
                    <p class="city"><a href="#">汉堡</a></p>
                    <p class="city"><a href="#">马德里</a></p>
                    <p class="city"><a href="#">米兰</a></p>
                    <p class="city"><a href="#">佛罗伦萨</a></p>
                    <p class="city"><a href="#">台北</a></p>
                    <p class="city"><a href="#">香港</a></p>
                    <p class="city"><a href="#">博洛尼亚</a></p>
                    <p class="city"><a href="#">伦敦</a></p>
                </div>
            </div>
            <div class="sort">
                <div class="sortContent">
                    <ul>
                        <li class="oLi"><a href="#">综合排序</a></li>
                        <li class="oLi"><a href="#">销量</a></li>
                        <li><input type="checkbox"><a href="">今日新品</a></li>
                    </ul>
                </div>
            </div>
            <div class="items"></div>
        </div>
        <div id="footer"></div>
    </div>
    <script src="../javascripts/cityWalk.js"></script>
</body>
</html>