<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最世界自由行</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/swiper.css">
    <script src="../javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div id="body">
        <div id="header">
            <h1 class="logo"><a href="#"></a></h1>
            <h1 class="logo1"></h1>
            <div class="search">
                <input type="text" placeholder="搜索国家、城市、商品">
                <p>搜索</p>
                <ul class="ulist">
                    <li>拉斯维加斯 <span>热门搜索</span></li>
                    <li>威尼斯 <span>热门搜索</span></li>
                    <li>爱尔兰 <span>热门搜索</span></li>
                    <li>马尔代夫 <span>热门搜索</span></li>
                    <li>普罗旺斯 <span>热门搜索</span></li>
                    <li>上海 <span>热门搜索</span></li>
                </ul>
            </div>
            <img src="../images/redapp.jpg" alt="">
        </div>
        <div id="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">机酒自由行</a></li>
                <li><a href="#">城市玩乐</a>
                    <p id="redTag">一日游</p>
                    <span></span>
                </li>
                <li><a href="#">签证</a></li>
                <li><a href="#">租车</a></li>
                <li><a href="#">邮轮</a></li>
                <li><a href="#">海岛游</a></li>
                <li><a href="#">限时特卖</a></li>
                <li><a href="#">特色路线</a></li>
                <li><a href="/cityWalk">CitiWalk</a></li>
            </ul>
        </div>
        <div id="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
            <div class="areaCategory">
                <ul>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                    <li class="areaItems">
                        <h3></h3>
                        <h2></h2>
                        <p></p>
                        <p>></p>
                    </li>
                </ul>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
                <div class="areaCategory_content"></div>
            </div>
        </div>
        <div id="ad">
            <img src="../images/2016.jpg" alt="">
            <img src="../images/20166.jpg" alt="">
            <img src="../images/2016winter.jpg" alt="">
        </div>
        <div id="specialSell">
            <div class="specialSellContent">
                <div class="top">
                    <h2>限时特卖</h2>
                    <p>每日必看的特价精选</p>
                    <a href="#">
                        <p>
                            <span></span>
                            <span>换一换</span>
                        </p>
                    </a>
                </div>
                <div class="bottom">
                    <img src="../images/2229.jpg" alt="">
                    <img src="../images/299.jpg" alt="">
                    <img src="../images/3899.jpg" alt="">
                </div>

            </div>
        </div>
        <div id="freeWalk">
            <div class="freeWalkWrap">
                <!--自由行头-->
                <div class="freeWalkHead">
                    <h2>机酒自由行</h2>
                    <p>精选全球优质机票、酒店、邮轮等旅行产品</p>
                    <ul class="freeWalkHeadTags">
                    </ul>
                </div>
                <!--自由行主体-->
                <div class="freeWalkMain">
                    <div class="freeWalkMore">
                        <a href="#">
                            <div class="themeMoreTop">
                                <p>查看更多</p>
                                <p>城市玩乐产品</p>
                                <img src="../images/more2.jpg" alt="">
                            </div>
                        </a>
                        <div class="themeMoreBottom">
                            <ul>
                                <li>机票</li>
                                <span>|</span>
                                <li>酒店</li>
                                <span>|</span>
                                <li>机酒</li>
                                <span>|</span>
                                <li>邮轮</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cityPlay">
            <div class="cityPlayWrap">
                <div class="cityPlayHead">
                    <h2>城市玩乐</h2>
                    <p>像当地人一样，体验最本土的吃喝玩乐</p>
                    <ul class="cityPlayHeadTags">
                        <li>日本</li>
                        <li>泰国</li>
                        <li>港澳台</li>
                        <li>新西兰</li>
                        <li>澳大利亚</li>
                        <li>美国</li>
                        <li>WIFI/电话卡</li>
                    </ul>
                </div>
                <div class="cityPlayContentMain">
                    <div class="cityPlayContent">
                        <img src="../images/japen1.jpg" alt="">
                        <img src="../images/japen2.jpg" alt="">
                    </div>
                    <div class="cityPlayContent img2">
                        <img src="../images/j1.jpg" alt="">
                        <img src="../images/j2.jpg" alt="">
                        <img src="../images/j3.jpg" alt="">
                    </div>
                    <div class="cityPlayContent">
                        <img src="../images/j4.jpg" alt="">
                        <div class="cityPlayMore">
                            <a href="#">
                                <div class="moreTop">
                                    <p>查看更多</p>
                                    <p>城市玩乐产品</p>
                                    <img src="../images/more.jpg" alt="">
                                </div>
                            </a>
                            <div class="moreBottom">
                                <ul>
                                    <li>WIFI/电话卡</li>
                                    <li>交通票券</li>
                                    <li>景点门票</li>
                                    <li>特色体验</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="theme">
            <div class="themeWrap">
                <div class="themeHead">
                    <h2>主题推荐</h2>
                    <p>亲子、蜜月、个性玩法。。。你想要的这里都有</p>
                    <ul class="themeTags">
                        <li>精品小团</li>
                        <li>发现城市</li>
                        <li>亲子家庭</li>
                        <li>情侣蜜月</li>
                        <li>血拼购物</li>
                        <li>闺蜜同游</li>
                        <li>冒险之旅</li>
                    </ul>
                </div>
                <div class="themeHeadMain1">
                    <img src="../images/th1.jpg" alt="">
                    <img src="../images/th2.jpg" alt="">
                    <img src="../images/th3.jpg" alt="">
                </div>
                <div class="themeHeadMain2">
                    <img src="../images/th4.jpg" alt="">
                    <img src="../images/th5.jpg" alt="">
                    <img src="../images/th6.jpg" alt="">
                    <div class="themeMore">
                        <a href="#">
                            <div class="themeMoreTop">
                                <p>查看更多</p>
                                <p>城市玩乐产品</p>
                                <img src="../images/arrow.jpg" alt="">
                            </div>
                        </a>
                        <div class="themeMoreBottom">
                            <ul>
                                <li>亲子</li>
                                <span>|</span>
                                <li>情侣</li>
                                <span>|</span>
                                <li>海岛游</li>
                                <span>|</span>
                                <li>购物</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="footer"></div>
    </div>
    <script src="../javascripts/swiper.js"></script>
    <script src="../javascripts/home.js"></script>
</body>
</html>