@charset "utf-8";
#footer{
    width: 100%;
    height: 220px;
    background: #f5f5f5;
}
.gray{
    width: 1160px;
    height: 220px;
    margin: 0 auto;
    padding-top: 0.1px;
}
.Oul{
    margin-top: 30px;
}
.Oul>li{
    height: 18px;
    line-height: 18px;
    float: left;
    background: url("../images/a1.jpg")no-repeat;
}
.Oul>li>a{
    font-size: 18px;
    margin-left: 30px;
    margin-right: 38px;
}
.grayBottom{
    width: 1160px;
    height: 60px;
    margin-top: 112px;
}
.grayBottom>div{
    width: 353px;
    height: 60px;
    margin-left: 30px;
    float: left;
}
.grayBottom>div img{
    float: left;
    margin-right: 20px;
}
.grayBottom>div p:nth-of-type(1){
    font-size: 15px;
    font-weight: bold;
}
.grayBottom>div p:nth-of-type(2){
    color: #b8a1a1;
    line-height: 18px;
    font-size: 11px;
    margin-top: 8px;
}
/*black*/
.black{
    width: 100%;
    height: 291px;
    background: #333333;
}
.blackContent{
    width: 1160px;
    height: 291px;
    margin: 0 auto;
}
.left{
    width: 745px;
    height: 190px;
    margin-top: 48px;
    float: left;
    margin-right: 100px;
}
.leftTop{
    width: 745px;
    height: 48px;
}
.leftTop>img{
    margin-right: 24px;
    float: left;
}
.leftTop>p{
    line-height: 24px;
    color: #c0c0c0;
}
.leftBottom{
    margin-top: 40px;
    width: 745px;
    height: 100px;
}
.leftBottom>ul{
    width: 745px;
    height: 30px;
}
.leftBottom>ul>li{
    margin-left: 20px;
    margin-right: 18px;
    float: left;
    color: #c0c0c0;
}
.leftBottom p{
    color: #c0c0c0;
    height: 25px;
    line-height: 25px;
}
.leftBottom p:nth-of-type(3) a{
    color: #c0c0c0;
}
#li1{
    margin-left: 0;
}
.right{
    height: 48px;
    width: 310px;
    float: left;
    margin-top: 48px;
}
.right>p{
    height: 18px;
    line-height: 18px;
    margin-right: 20px;
    margin-top: 15px;
    float: left;
    color: white;
}
.right>img{
    margin-left: 8px;
    float: left;
}